<article>
  <header>
    <h2><%= link_to @movie.title, @movie %></h2>
  </header>
  <p><%= truncate(@movie.description, length: 40, seperator: ' ') %></p>
  <table>
    <tr>
      <th>Rating:</th>
      <td><%= @movie.rating %></td>
    </tr>
    <tr>
      <th>Total Gross: </th>
      <td><%= price_formatter @movie %></td>
    </tr>
    <tr>
      <th>Release Date: </th>
      <td><%= format_date_and_timeago @movie %></td>
    </tr>
  </table>
  <%= link_to 'Edit', edit_movie_path(@movie) %>
  <%= link_to 'Delete', movie_path(@movie), method: :delete, data: {confirm: 'Are you sure about that?'} %>
</article>
<br />
<%= link_to 'All Movie', movies_path %>
